# --- Security & Environment Variables ---
.env
*.env
.env.local
.env.*.local
.secret
*.pem
*.key
*.pub

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv
venv/
ENV/
env/

# --- Docker & System ---
.docker/
*.log
.DS_Store
Thumbs.db

# --- IDEs and Editors ---
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
